.socialButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 1rem autos;
}

.socialButtonWrapper * {
  text-transform: capitalize;
  /* align-items: center; */
}

.socialButtonWrapper button {
  margin-bottom: 1rem;
}
